body
{
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('pics/pic2.png');
	height:100vh;
	background-position:center;
	background-size:cover;
}

.centered-form
{
	margin-top: 100px;
}

.centered-form .panel
{
	background-color:  #b84dff;
	box-shadow: rgba(0, 0, 0, 0.3)20px 20px 20px;
}

.panel-title
{
	color: white;
	font-size: 30px;
	font-family: garamond;
	font-weight: bold;
}

input[name=firstname], input[name=lastname], input[name=email], input[name=password]
{
	text-align: center;
}

input[name=Register]
{
	border: none;
	background-color: #00cc00;
}